<h1><%= @user.username %></h1>


<h3>
  <%= link_to "Back", user_path %> |
  <%= link_to "Edit", edit_user_path(@user) %> |
<!-- need the :method below b/c http requests typically send GET, but here we need DELETE so we're specifying. -->
  <%= link_to "Destroy", user_path(@user), :method => :delete %>
</h3>

