<h1>Find docks near your destination:</h1>
<div class="container">
  <div class="form">
  <form action="/searches" method="get">
    <p><input type="textarea" name="destination[address]" placeholder="address" /></p>
      <button id="button">Go!</button>
  </form>
</div>
